<!DOCTYPE html>
<html>
<head>
<title>Quem Copiou Quem?</title>
<%= stylesheet_link_tag "style" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%= javascript_include_tag "jquery.blockUI" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>
<script type="text/javascript">
var uservoiceOptions = {
  /* required */
  key: 'quemcopiouquem',
  host: 'quemcopiouquem.uservoice.com', 
  forum: '92949',
  showTab: true,  
  /* optional */
  alignment: 'left',
  background_color:'#160991', 
  text_color: 'white',
  hover_color: '#160991',
  lang: 'en',
  alignment: "right"
};

function _loadUserVoice() {
  var s = document.createElement('script');
  s.setAttribute('type', 'text/javascript');
  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
  document.getElementsByTagName('head')[0].appendChild(s);
}
_loadSuper = window.onload;
window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
</head>
<body>
  <div id="wrapper">
    <div id="header">
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
  by <%= link_to "visconde", "http://github.com/kibiluzbad/", {:target=>'_blank'}%>
  </div>
</body>
</html>

